In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
%matplotlib inline
warnings.filterwarnings("ignore")
import pandas as pd

In [2]:
import pandas_profiling as pp

In [3]:
df=pd.read_csv("student.csv")
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
%matplotlib inline
warnings.filterwarnings("ignore")
import pandas as pd

In [5]:
pd.read_csv("student.csv")

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:
df=pd.read_csv("student.csv")

In [7]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [8]:
profile = ProfileReport(df, title="Pandas Profiling Report")

In [9]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

In [10]:
profile.to_notebook_iframe()

In [11]:
profile.to_file("your_report.html")

In [12]:
pip install dtale

Collecting dtale
  Using cached dtale-2.13.0-py2.py3-none-any.whl (14.0 MB)
Requirement already satisfied: cycler in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (0.11.0)
Requirement already satisfied: scikit-learn in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (1.2.2)
Requirement already satisfied: scipy==1.9.3 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (1.9.3)
Requirement already satisfied: dash-colorscales in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (0.0.4)
Requirement already satisfied: openpyxl!=3.2.0b1 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (3.1.2)
Requirement already satisfied: seaborn in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (0.12.2)
Requirement already satisfied: pandas in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (1.5.3)
Collecting missingno<=0.4.2
  Using cached missingno-0.4.2-py3-none-any.whl (9.7 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (4.11.1)
Requirement already satisfied: statsmodels in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (0.13.5)
Requirement already satisfied: plotly>=5.0.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (5.14.0)
Requirement already satisfied: matplotlib==3.6.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (3.6.0)
Requirement already satisfied: et-xmlfile in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (1.1.0)
Requirement already satisfied: requests in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (2.28.2)
Requirement already satisfied: six in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (1.16.0)
Requirement already satisfied: certifi in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (2022.12.7)
Requirement already satisfied: networkx in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (3.0)
Requirement already satisfied: squarify in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (0.4.3)
Requirement already satisfied: future>=0.14.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (0.18.3)
Collecting flask-ngrok
  Using cached flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Collecting dash>=2.0.0
  Using cached dash-2.9.2-py3-none-any.whl (10.2 MB)
Collecting Flask-Compress
  Using cached Flask_Compress-1.13-py3-none-any.whl (7.9 kB)
Requirement already satisfied: itsdangerous in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (2.1.2)
Requirement already satisfied: lz4 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (4.3.2)
Requirement already satisfied: xlrd in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (2.0.1)
Requirement already satisfied: strsimpy in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (0.2.1)
Collecting xarray
  Using cached xarray-2023.1.0-py3-none-any.whl (973 kB)
Collecting dash-bootstrap-components<=1.3.1
  Using cached dash_bootstrap_components-1.3.1-py3-none-any.whl (219 kB)
Requirement already satisfied: kaleido in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (0.2.1)
Collecting Flask
  Using cached Flask-2.2.3-py3-none-any.whl (101 kB)
Collecting dash-daq
  Using cached dash_daq-0.5.0-py3-none-any.whl
Requirement already satisfied: numpy in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dtale) (1.23.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from matplotlib==3.6.0->dtale) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from matplotlib==3.6.0->dtale) (4.39.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from matplotlib==3.6.0->dtale) (1.0.7)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from matplotlib==3.6.0->dtale) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from matplotlib==3.6.0->dtale) (9.4.0)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from matplotlib==3.6.0->dtale) (23.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from matplotlib==3.6.0->dtale) (2.8.2)
Requirement already satisfied: dash-table==5.0.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dash>=2.0.0->dtale) (5.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dash>=2.0.0->dtale) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from dash>=2.0.0->dtale) (2.0.0)
Requirement already satisfied: importlib-metadata>=3.6.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from Flask->dtale) (6.1.0)
Requirement already satisfied: Jinja2>=3.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from Flask->dtale) (3.1.2)
Requirement already satisfied: click>=8.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from Flask->dtale) (8.1.3)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from Flask->dtale) (2.2.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from plotly>=5.0.0->dtale) (8.2.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from beautifulsoup4->dtale) (2.3.2.post1)
Requirement already satisfied: brotli in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from pandas->dtale) (2023.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from requests->dtale) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from requests->dtale) (3.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from requests->dtale) (1.26.15)
Requirement already satisfied: joblib>=1.1.1 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from scikit-learn->dtale) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from scikit-learn->dtale) (3.1.0)
Requirement already satisfied: patsy>=0.5.2 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from statsmodels->dtale) (0.5.3)
Requirement already satisfied: colorama in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from click>=8.0->Flask->dtale) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from importlib-metadata>=3.6.0->Flask->dtale) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\asus\.conda\envs\tfnew\lib\site-packages (from Jinja2>=3.0->Flask->dtale) (2.1.2)
Installing collected packages: Flask, xarray, flask-ngrok, Flask-Compress, dash, missingno, dash-daq, dash-bootstrap-components, dtale
Successfully installed Flask-2.2.3 Flask-Compress-1.13 dash-2.9.2 dash-bootstrap-components-1.3.1 dash-daq-0.5.0 dtale-2.13.0 flask-ngrok-0.0.25 missingno-0.4.2 xarray-2023.1.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\asus\.conda\envs\tfnew\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\.conda\envs\tfnew\lib\site-packages)

In [13]:
df=pd.read_csv("student.csv")
import dtale
d=dtale.show(df)
d.open_browser()